.contact-container {
  text-align: center;
}
/* .contact-container .group-img {
  overflow: hidden;
  background-image: url("../../assets/group.png");
  background-size: cover;
  max-width: 612px;
  height: 408px;
  margin: 0 auto;
} */
.contact-container .background-color {
  height: 400px;
  background: #fbeeca;
}
.contact-container .contact-content {
  margin: 0 auto;
  max-width: 1024px;
  margin-top: -320px;
}
.contact-container .contact-header {
  font-size: 70px;
  margin-bottom: 38px;
}
.contact-container .contact-text {
  padding: 20px 40px;
}

@media only screen and (max-width: 600px) {
  .contact-container .contact-header {
    font-size: 58px;
  }
}
